@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('./variables.css');
@import url('./keyframes.css');
@import url('./modal.css');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html { min-height: 100vh; }

body {
  font-size: 16px;
  font-family: 'Nunito', sans-serif;
  color: #ebebeb;
  background-color: #0a0a0a;
}

#board {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  perspective: 1000px;
  padding: 110px 30px 0;
}

.scoreboard {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.scoreboard .hits,
.scoreboard .erros {
  padding: 10px 15px;
  margin-top: 10px;
  border-radius: 15px;
  color: #fff;
}

.scoreboard .hits.change,
.scoreboard .erros.change {
  animation: grow_balance .6s;
}

.scoreboard .hits {
  background-color: var(--success);
}

.scoreboard .erros {
  background-color: var(--danger);
}

.card {
  position: relative;
  width: 150px;
  height: 250px;
  margin: 10px;
  border-radius: 15px;
  transform-style: preserve-3d;
  transition: transform 0.4s;
  border: 1px solid #fff;
}

.card:active { transform: scale(.9); }
.card.active { transform: rotateY(180deg); }

.card:hover {
  cursor: pointer;
  box-shadow: 0 0 5px 1px rgb(90, 89, 89);
}

.card img {
  height: 100%;
  width: 100%;
}

.card .ornament {
  position: absolute;
  top: 10px;
  left: 10px;
  color: #ccc;
  font-size: 1.5rem;
  transition: width .7s, height .7s;
}

.card:hover .ornament {
  font-size: 1.8rem;
}

.card .ornament:nth-of-type(odd) {
  left: auto;
  right: 10px;
}

.card .face {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
  background-color: var(--bg-color);
  overflow: hidden;
}

.card .face > .main-icon{
  font-size: 4rem;
  transition: width .4s, height .4s;
  color: #ddd;
}

.card .face:hover > .main-icon{
  font-size: 5rem;
}

.card .front {
  transform: rotateY(180deg);
}

.card.matched .front .main-icon {
  animation: shake .8s alternate infinite ease-in-out;
}

.card .front .nimbus {
  position: absolute;
  bottom: 10px;
  font-size: 2rem;
  right: -2.5rem;
}

.card.active .front .nimbus {
  animation: nimbus-fly 10s infinite linear,
             balance 2s alternate infinite ease-in;
}

@keyframes nimbus-fly {
  from {
    right: -2.5rem;
  }

  49% {
    transform: rotateY(0deg);
  }

  50% {
    right: calc(100% + 2.5rem);
    transform: rotateY(180deg);
  }

  to {
    right: -2.5rem;
    transform: rotateY(180deg);
  }
}

@keyframes balance{
  from {
    bottom: 6px;
  }

  to {
    bottom: 14px;
  }
}

@keyframes shake {
  from {
    transform: rotate(-20deg);
  }

  to {
    transform: rotate(10deg);
  }
}
