* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body { height: 100%; }

body {
  font-size: 16px;
  color: #2b2b2b;
}

#board {
  display: flex;
  flex-wrap: wrap;
  perspective: 600px;
}

.card {
  position: relative;
  width: 200px;
  height: 350px;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.card.active {
  transform: rotateY(180deg);
}

.card .face {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
  background-color: #fff;
}

.card .front {
  transform: rotateY(180deg);
}