* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html { min-height: 100vh; }

body {
  font-size: 16px;
  font-family: 'Nunito', sans-serif;
  color: #ebebeb;
  background-color: $bg-color;
}

a { 
  text-decoration: none;
  color: inherit;
}

#board {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  perspective: 1000px;
  padding: 30px 30px 0;
}

.card {
  position: relative;
  width: 150px;
  height: 250px;
  margin: 10px;
  border-radius: 15px;
  transform-style: preserve-3d;
  transition: transform .4s;
  border: 1px solid #fff;

  &.matched .front .main-icon { animation: shake .8s alternate infinite ease-in-out; }
  &:active { transform: scale(.95); }

  &.active {
    transform: rotateY(180deg);

    .front .nimbus { animation: nimbus-fly 10s infinite linear, balance 2s alternate infinite ease-in; }
  }

  &:hover {
    cursor: pointer;
    box-shadow: 0 0 5px 1px rgb(90, 89, 89);

    .ornament { font-size: 1.8rem; }
  }

  .ornament {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #636e72;
    font-size: 1.5rem;
    transition: width .1s, height .1s;

    &:nth-of-type(even) {
      left: auto;
      right: 10px;
    }

    &.bottom {
      top: auto;
      bottom: 10px;
    }
  }

  .face {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    background-color: $card-bg;
    overflow: hidden;

    &:hover .main-icon{ font-size: 5rem; }

    .main-icon{
      font-size: 4rem;
      transition: width .2s, height .2s;
    }
  }

  .front {
    transform: rotateY(180deg);
    color: #ddd;
    z-index: 1; // For firefox

    .nimbus {
      position: absolute;
      bottom: 10px;
      font-size: 2rem;
      right: -2.5rem;
    }
  }

  .back { color: #636e72; }

  .match-effect {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    color: $success;
    font-size: 1.5rem;
    animation: up-disapear 1s ease-in;

    @for $i from 1 through 6 {
      &:nth-of-type(#{$i}) {
        left:  percentage((random(40) + 30) / 100);
        top:  percentage((random(30) + 30) / 100);
      }
    }
  }
}

.timer {
  font-size: 2rem;
  font-weight: bold;
}

.player-turn {
  font-size: 1.5rem;
  color: $info;
}
