#game-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 80px 0;

  #restart-button {
    display: none;
    order: 1;
    color: $success;
    font-size: 2rem;
    transform: translateX(-100%);
    transition: font-size 0.2s;
    cursor: pointer; 

    &:hover { font-size: 2.3rem; }
    &.visible { display: block; }
  }
}

.scoreboard {
  order: 2;

  .hits {
    padding: 10px 15px;
    margin-top: 10px;
    border-radius: 5px;
    color: #fff;

    &.change { animation: grow_balance .6s; }
  }

  .hits { background-color: $success; }
}
